header {
    background-color: blue;

    border-radius: 30px;
    color: orange;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}
main {
    position: relative;
    top: 2em;
    display: block;
    border: 30px #00FFFF ridge;
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    width: 50%;
    justify-content: center;
    text-align: center;
}
main:hover {
    box-shadow: 20px 20px 10px black;
}
div {
    color: orange;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
body {
    background-color: red;
}
img:hover {

}

nav {
    position: relative;
    border-radius: 30px;
    top     : 2em;
    left    : 2em;
    display: block;
    float: left;
    background-color: black;
    width:20%;
    min-width: 150px;
}
table {
    margin: auto;

    color: green;
}
